*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: nowrap;
    max-width: 0px;
    margin:0 auto;
    padding:0 2%;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    height: 250px;
    padding: 100px 0;
}
.logo{
    width: 30px;
}
.menu{
    padding-top: 30px;
    width: 150%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: nome;
    font-weight: bold;
    margin-right: 15px ;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: 450px;
    right: -450px;
    width: 1200px;
    height: 1350px;
    border-radius: 50%;
    background-color: #017143;
}
.social-media{
    position: absolute;
    right: 490px;
    top: 200px;

}
.social-media img{
    display: block;
    width: 25px;
    margin: 25px 0;
}
.texto-sobre{
    margin-top: 230px;
}
.texto-sobre h1{
    font-size: 75px;
}
.texto-sobre p{
    margin: 20px 0;
    color:black;
    font-size: 20px;
    font-weight: bold;
    max-width: 800px;
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: black;
    border-radius:10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    
}